@font-face {
  font-family: "Domine";
  src: local("Domine"),
    local("Domine Regular") url("./fonts/Domine-Regular.ttf");
  font-weight: normal;
  display-font: fallback;
}

@font-face {
  font-family: "Domine";
  src: local("Domine Bold"), url("./fonts/Domine-Bold.ttf");
  font-weight: bold;
  display-font: fallback;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    local("OpenSans Regular") url("./fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  display-font: fallback;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans Italic"), url("./fonts/OpenSans-Italic.ttf");
  font-style: italic;
  display-font: fallback;
}
