:root {
  --font-family-primary: "Nunito", sans-serif;
  --font-family-secondary: "Domine", serif;

  --primary-900: #005db6;
  --primary-700: #0b78df;
  --primary-500: #0083ff;
  --primary-100: hsl(125, 65%, 93%);

  --grey-900: hsl(0, 0%, 23%);
  --grey-700: hsl(0, 0%, 38%);
  --grey-600: hsl(0, 0%, 49%);
  --grey-500: hsl(0, 0%, 62%);
  --grey-300: hsl(0, 0%, 81%);
  --grey-200: hsl(0, 0%, 88%);
  --grey-100: hsl(0, 0%, 97%);

  --accent-red-700: #af0900;
}
body {
  margin: 0;
  background: var(--grey-100);
  min-height: 100vh;
}

.hide {
  display: none;
}

.Gradient {
  background-color: var(--primary-500);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23005db6' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.Header {
  position: relative;
  min-height: 300px;
  z-index: -1;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom-left-radius: 90% 10%;
  border-bottom-right-radius: 90% 10%;
}

.Header-title {
  color: white;
  margin: 0;
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: 32px;
  font-weight: bold;
}

.Header-text {
  color: white;
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.5px;
}

.Card {
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 22px -1px rgba(1, 1, 1, 0.15);
  margin: -50px auto 0 auto;
  padding: 32px 21px;
  width: 85%;
  max-width: 400px;
}

.Card-title {
  color: var(--grey-900);
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 21px 0;
  letter-spacing: 0.25px;
}
.Card-content {
  box-sizing: border-box;
}
.Subscribe-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
.Subscribe-email {
  background: white;
  border: 1px solid var(--grey-100);
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  letter-spacing: 0.5px;
  font-family: var(--font-family-primary);
  color: var(--grey-700);

  transition: background-color 0.15s cubic-bezier(0.42, 0, 0, 0.39);
}
.Subscribe-email:focus {
  outline: none;
  background: var(--grey-100);
}
.Subscribe-submit {
  display: flex;
  justify-content: center;
  width: 100px;
  background: var(--primary-500);
  border: none;
  padding: 10px;
  color: white;
  border: 1px solid var(--primary-500);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.Subscribe-submitIcon,
.Subscribe-submitIcon path {
  fill: white;
  width: 20px;
  height: 20px;
}
.Subscribe-submit:hover {
  background: var(--primary-700);
}
.Subscribe-submit:focus {
  border: 1px solid var(--grey-100);
}
.Subscribe-error {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  font-family: var(--font-family-secondary);
  color: var(--accent-red-700);
  letter-spacing: 0.5px;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.Subscribe-sent {
  color: var(--primary-500);
}

/* Confirmation of the subscription */
.SubscriptionConfirmation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SubscriptionConfirmation-icon {
  margin-right: 16px;
}
.SubscriptionConfirmation-icon,
.SubscriptionConfirmation-icon path {
  fill: var(--primary-500);
  width: 100px;
  flex-basis: 100px;
}
.SubscriptionConfirmation-message {
  font-family: var(--font-family-primary);
}
.SubscriptionConfirmation-title,
.SubscriptionConfirmation-text {
  color: var(--grey-900);
}

.SubscriptionConfirmation-title {
  margin: 0 0 8px 0;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  line-height: 1.15;
}
.SubscriptionConfirmation-text {
  display: block;
  font-family: var(--font-family-primary);
  font-size: 14px;
  line-height: 1.75;
}

/* From iphone 6*/
@media screen and (min-width: 350px) {
  .Header {
    min-height: 350px;
  }

  .Card {
    width: 75%;
    margin: -75px auto 0 auto;
    padding: 32px 27px;
  }
}

@media screen and (min-width: 768px) {
  .Header {
    padding: 50px;
    height: 500px;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
  }
  .Header-title {
    font-size: 50px;
  }
  .Header-text {
    font-size: 21px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .Card {
    width: 75%;
    margin: -75px auto 0 auto;
    padding: 50px;
  }
  .Card-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .Header {
    min-height: 350px;
    height: auto;
  }
  .Header-text {
    max-width: 750px;
  }
  .Card {
    max-width: 500px;
  }
  .Card-title {
    font-size: 21px;
  }
  .Subscribe-email {
    font-size: 18px;
  }
}
